.page-not-found-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-not-found-form > h3 {
    color: darkblue;
}

.go-back-button {
    width: 100%;
    background-color: darkgreen;
    color: white;
}

.robot-page-not-found-gif {
    margin-top: 20px;
    margin-bottom: 20px;
}